[Desktop Entry]
Type=Application
Name=GRID Launcher
Comment=Game Repository Interface & Downloader
Exec=grid-launcher
Icon=io.github.Sixdd6.GRIDLauncher
Categories=Game;Utility;
Terminal=false
